.todolist-table {
  td {
    vertical-align: top;
    border: none;
  }

  .todo-status {
    border: none;
    text-align: right;
  }

  .todo-actions {
    border: none;
    width: 10%;
    text-align: center;
  }

  .todo-actions-header {
    text-align: right;
  }
}

.todo-actions-btn {
  &::after {
    display: none;
  }
}

.todo-title {
  width: 90%;
  border: none;
}

.dropdown-item-icon {
  margin-right: 10px;
}

.description {
  width: 100%;
  text-align: left;
}
