<table class="table todolist-table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col"></th>
    <th scope="col" class="todo-actions-header">Actions</th>
    <th scope="row" class="todo-actions-header"></th>
  </tr>
  <tr>
  </thead>
  <tbody *ngFor="let todo of (todos$ | async)">
  <tr>
    <td scope="row">
      <input id="flexCheckDefault" class="form-check-input" type="checkbox" [checked]="isDone(todo)"
             (click)="onCheckBoxClick(todo)" [disabled]="isDone(todo)">
    </td>
    <td scope="row" class="todo-title">{{todo.title}}</td>
    <td class="todo-status">
      <div class="badge bg-primary" *ngIf="isInProgress(todo)">{{todo.status}}</div>
      <div class="badge bg-danger" *ngIf="isNotStated(todo)">{{todo.status}}</div>
      <div class="badge bg-success" *ngIf="isDone(todo)">{{todo.status}}</div>
    </td>
    <td class="todo-actions">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle todo-actions-btn" data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="bi bi-gear-fill"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngIf="!isInProgress(todo)">
            <button class="dropdown-item" type="button" (click)="onStartClick(todo)">
              <i class="dropdown-item-icon bi bi-play-circle-fill"></i> Start
            </button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="onRemoveClick(todo)">
              <i class="dropdown-item-icon bi bi-trash-fill"></i> Remove
            </button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="onEditClick(todo)">
              <i class="bi bi-pencil-square dropdown-item-icon"></i> Edit
            </button>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td scope="row" class="description"> {{todo.description}}</td>
  </tr>
  </tbody>
</table>
